# Git

.git

# Dependencies

node_modules
server/node_modules
dinrestaurang/node_modules
adminpanel/node_modules

# Build

dinrestaurang/build
adminpanel/build

# License

LICENSE

# Docker

server/Dockerfile
dinrestaurang/Dockerfile
adminpanel/Dockerfile

# Readme

README.md
server/README.md
dinrestaurang/README.md
adminpanel/README.md
