# Env
server/.env
dinrestaurang/.env
adminpanel/.env

# Docs
server/docs
server/dbDocs/


# Logs
server/logs/

# Vscode
.vscode/launch.json

# Dependencies
node_modules
server/node_modules
dinrestaurang/node_modules
adminpanel/node_modules