# Git
.gitignore

# Dependencies
node_modules

# Docker
Dockerfile
.dockerignore

# Readme
README.md

# Enviroment
.env
.docker.env

# Linting
.eslintrc.js
.editorconfig

# Public assets
public/robots.txt
